/*#cbusnavi .w3-navbar {
    background-color:rgba(0,0,0,.9);
}
    #cbusnavi .w3-navbar li a {
        color: #ffffff;
    }

    #cbusnavi .w3-navbar li a:hover {
        background-color:orangered;
    }*/

/*#navDemo .w3-navbar {
    background-color:rgba(0,0,0,.9);
}
    #navDemo .w3-navbar li a {
        color: #ffffff;
    }

    #navDemo .w3-navbar li a:hover {
        background-color:orangered;
    }*/

.w3-theme-d5 {
    color:#fff !important; 
    background-color:#222222 !important;
}

    .w3-theme-d5 h2 {
        color:#FF4500;
    }

    .w3-theme-d5 h3 {
        color:#008000;
    }

    .w3-theme-d5 h4 {
        color:orange;
    }

.w3-theme-l1 {
    background-color:#008000 !important;
    color:#ffffff !important;
}

.cbus-color-orange {
    color:orange;
}

.cbus-color-orangered {
    color:#FF4500;
}

.cbus-color-green {
    color:#008000;
}

#cbusslogan {
    position:absolute;left:0;bottom:0;
}

#cbusslogan p {
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    #cbusslogan {
        position:absolute;left:0;bottom:0;width:100%;text-align:center;
    }
    #cbusslogan p {
        font-size: 12px;
    }
}
